<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.description %></h3>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.phone %></h3>
<h3><%= @restaurant.owner_id %></h3>


<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Destroy", restaurant_path, method: :delete, data: { confirm: 'Are you sure?' } %> 

<p><img src=http://maps.googleapis.com/maps/api/staticmap?center=<%= @restaurant.address.tr(' ', '+') %>&zoom=15&size=500x450&maptype=roadmap\&markers=<%= @restaurant.address.tr(' ', '+') %>></p>




